# secrets
backend/.env
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.sqlite3  
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
coverage/
.venv/
backend/.env.*
node_modules/
.next/
frontend/.env
frontend/.env.*
dist/
build/
*.local.yml